.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
    padding: 45px;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 6px rgba(0,0,0,0.1);
    overflow:hidden
}
.card:hover{
    transform: scale(1.03);
}
.cover_img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  color: #000;
  padding:50px;
  text-align: center;
  margin-bottom: 45px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(34, 0, 59);
  margin: 0;
}
.dev{
  font-size: 1rem;
  color: rgb(93, 0, 133);
  margin: 0;
}
.desc{
  font-size: 0.85rem;
  margin: 5px 0 0 0;
  color: rgb(18, 0, 34);
  width: 100%
}
.price{
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 0 0;
  color: rgb(178, 0, 89);
}