body {
    font-family: Arial, sans-serif;
    background:#f9f9f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}
.gallery-container{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 6px rgba(0,0,0,0.1);
    overflow:hidden
}
.card:hover{
    transform: scale(1.03);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 500px;
  height: 270px;
  margin: 0 30px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}